<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
        <main class="signup-container">
          <h1 class="heading-primary">Log in<span class="span-blue">.</span></h1>
          <p class="text-mute">Enter your credentials to access your account.</p>
          <div class="login-wrapper"> 
          <form class="signup-form" method="post" action="/signin">
            <label class="inp">
              <input name="username" type="username" class="input-text" placeholder="Email or Username">
            </label>
            <label class="inp">
              <input type="password" class="input-text" placeholder="password" name="password"/>
              <span class="input-icon input-icon-password" data-password><i class="fa-solid fa-eye"></i></span>
            </label>
            <button type="submit" class="btn btn-login">Login</button>
          </form>
          <br/>
          <p class="text-mute">Not a member? <a href="/register">Sign up</a></p>
        </main>
        <div class="welcome-container">
          <h1 class="heading-secondary">Welcome to <span class="lg">Planner Buddy!</span></h1>
          <img src="https://png2.cleanpng.com/sh/82506800d9e08bf14cb0a38d53322fea/L0KzQYm3VsI1N6Rug5H0aYP2gLBuTfxieKV0iJ9taYPzfLLCTfRmfppofZ92dXz3eb7shPliNZ1miOZ4cD3wf7TylgAuPZM3fqNsMEC4RIKAUsQvOmU5SaUBMkm0RYOCWME1OGI7S6Y9NT7zfri=/kisspng-laptop-display-device-multimedia-laptop-mockup-5b2f1c00541724.2441362915298140163445.png" alt="">
        </div>
      </div>
  </body>
  <script src="/main.js"></script>
</html>
